::-moz-selection {
  background: var(--dark-color);
  color: var(--light-color); }

::selection {
  background: var(--dark-color);
  color: var(--light-color); }

::-moz-selection {
  background: var(--dark-color);
  color: var(--light-color); }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased; }

:focus {
  outline: 0; }

a,
a:hover,
a:focus {
  color: var(--dark-color);
  outline: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none; }

a {
  text-decoration: underline; }

strong, b {
  font-weight: 700; }

.text-light a {
  color: var(--light-color); }

.no-scroll {
  overflow-y: hidden !important; }

.overflow-hidden {
  overflow: hidden; }

.main-wrapper img {
  max-width: 100%;
  height: auto; }

/* typography
---------------------------*/
.single-post h1,
.single-post h2,
.single-post h3,
.single-post h4,
.single-post h5,
.single-post h6 {
  font-weight: 800;
  color: var(--dark-color);
  line-height: 1.2;
  margin-top: .83em;
  margin-bottom: .83em; }

h1 {
  font-size: 44px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

/* Responsive Typography
---------------------------*/
@media (max-width: 768px) {
  body {
    font-size: 14px;
    line-height: 1.2; }

  h1 {
    font-size: 32px; }

  h2 {
    font-size: 28px; }

  h3 {
    font-size: 25px; }

  h4 {
    font-size: 22px; }

  h5 {
    font-size: 17px; }

  h6 {
    font-size: 13px; } }
body.lg-on {
  overflow: hidden; }

.hero img,
.single-content img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  border: none; }

.display {
  display: block !important; }

.overflow-full {
  overflow: hidden; }

.text-light p {
  color: var(--light-color); }

.text-dark p {
  color: #000; }

.monospace {
  font-family: 'Source Code Pro', sans-serif;
  color: #494949; }

.text-light .monospace {
  color: #D0D0D0; }

.bypostauthor {
  font-size: inherit; }

.text-light {
  color: var(--light-color); }

.text-dark {
  color: var(--dark-color); }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
  text-align: center; }

.page-template-default form label {
  width: 100%; }

.no-menu > a {
  color: var(--main-color); }

.padding-both > .container {
  padding: 30px 30px 20px !important; }

.img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  z-index: 99;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0; }

.bigtext {
  font-size: 160px;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.notfound {
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }

abbr,
acronym {
  border-bottom: none !important; }

.notfound:hover {
  opacity: .7; }

@media (max-width: 992px) {
  .bigtext {
    font-size: 130px; } }
@media (max-width: 768px) {
  .bigtext {
    font-size: 70px; } }
/*helper classes*/
.fullwidth {
  width: 100%; }

.fullheight {
  height: 100%; }

.vc_column_container {
  z-index: 30; }

.grey {
  background-color: var(--soft-grey-color); }

.black {
  background-color: var(--dark-color); }

.white {
  background-color: var(--light-color); }

.vCenter {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.highlight {
  background-color: var(--dark-color);
  color: var(--light-color); }

.overflow {
  overflow: hidden; }

.video-container iframe {
  border: 0; }

iframe[name="advpp_manager"] {
  position: absolute;
  left: -9999px; }

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.25); }

.overlay-dark-error {
  background-color: rgba(0, 0, 0, 0.35); }

.overlay-dark-2x {
  background-color: rgba(0, 0, 0, 0.7); }

[class*="overlay-dark"] ~ *,
[class*="overlay-light"] ~ * {
  position: relative; }

/*------------------------------------------------------------------*/
/*---------------------- TEXT BLOCK SHORTCODE ----------------------*/
.wpb_text_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .wpb_text_column h1, .wpb_text_column h2, .wpb_text_column h3, .wpb_text_column h4, .wpb_text_column h5, .wpb_text_column h6 {
    margin-bottom: 55px;
    color: var(--dark-color);
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-align: center; }
  .wpb_text_column h1 {
    font-size: 80px; }
  .wpb_text_column h2 {
    font-size: 60px; }
  .wpb_text_column h3 {
    font-size: 50px; }
  .wpb_text_column p {
    margin-bottom: 45px;
    color: var(--grey-color);
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: .2px;
    text-align: left; }
  .wpb_text_column .wpb_wrapper {
    width: 100%;
    max-width: 100%; }

@media (max-width: 991px) {
  .wpb_text_column h1 {
    font-size: 65px; }
  .wpb_text_column h2 {
    font-size: 48px; }
  .wpb_text_column h3 {
    font-size: 42px; } }
@media (max-width: 768px) {
  .wpb_text_column p {
    margin-bottom: 25px; }

  .wpb_text_column h1 {
    font-size: 45px;
    margin-bottom: 35px; }
  .wpb_text_column h2 {
    font-size: 43px;
    margin-bottom: 35px; }
  .wpb_text_column h3 {
    font-size: 38px;
    margin-bottom: 35px; }
  .wpb_text_column h4 {
    font-size: 36px;
    margin-bottom: 35px; }
  .wpb_text_column h5 {
    font-size: 32px;
    margin-bottom: 35px; }
  .wpb_text_column h6 {
    font-size: 28px;
    margin-bottom: 35px; } }
@media (max-width: 600px) {
  .wpb_text_column h1 {
    font-size: 28px;
    margin-bottom: 25px; }
  .wpb_text_column h2 {
    font-size: 26px;
    margin-bottom: 25px; }
  .wpb_text_column h3 {
    font-size: 24px;
    margin-bottom: 25px; }
  .wpb_text_column h4 {
    font-size: 22px;
    margin-bottom: 25px; }
  .wpb_text_column h5 {
    font-size: 20px;
    margin-bottom: 25px; }
  .wpb_text_column h6 {
    font-size: 18px;
    margin-bottom: 25px; } }
div.bg_center-right {
  background-position: center right !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important; }

div.bg_center-left {
  background-position: center left !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important; }

div.bg_top-center {
  background-position: center top !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important; }

div.bg_top-right {
  background-position: right top !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important; }

div.bg_top-left {
  background-position: left top !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important; }

div.bg_bottom-center {
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important; }

div.bg_bottom-right {
  background-position: right bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important; }

div.bg_bottom-left {
  background-position: left bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important; }

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.75em;
  table-layout: fixed;
  width: 100%; }

table,
th,
.single table td,
td {
  border-collapse: collapse;
  font-size: 15px;
  color: var(--grey-color);
  border: 1px solid; }
  table a,
  th a,
  .single table td a,
  td a {
    font-weight: 600; }

table th {
  font-weight: 600; }

dd {
  margin: 0 0 1.75em; }

address {
  font-style: italic; }

abbr,
acronym {
  border-bottom: 1px dotted var(--grey-color);
  cursor: help; }

mark,
ins {
  background: var(--main-color);
  color: var(--light-color);
  padding: 0.125em 0.25em;
  text-decoration: none; }

kbd {
  background-color: transparent;
  color: var(--dark-color);
  font-weight: 100;
  box-shadow: none;
  opacity: .9; }

.alignleft {
  float: left;
  margin: .575em 1.75em 0.75em 0; }

.alignright {
  float: right;
  margin: .575em 0 .75em 1.75em;
  text-align: right; }

.wp-caption {
  margin-bottom: 1.1em;
  max-width: 100%; }

.wp-caption .wp-caption-text {
  opacity: .9;
  font-size: 13px; }

.wp-block-gallery {
  margin-left: 0 !important; }

.wp-block-cover {
  margin-bottom: 20px; }

figure.gallery-item {
  display: inline-block;
  max-width: 33.33%;
  text-align: center;
  overflow: visible;
  vertical-align: top;
  width: 100%;
  height: auto;
  padding: 0 1.1400652% 2.2801304%; }

.gallery-caption {
  padding-top: 7px; }

.gallery-columns-1 .gallery-item {
  max-width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

caption {
  color: var(--dark-color);
  opacity: .7; }

/*# sourceMappingURL=general-styles.css.map */
