@media only screen and (min-width: 1025px) {
  .enable-padding header.classic {
    padding: 0 135px; }
  .enable-padding .header_top_bg.header_trans-fixed.bg-color-scroll {
    top: 0;
    box-shadow: none; }

  .header_top_bg {
    position: relative;
    z-index: 9999;
    background-color: var(--light-color); }
    .header_top_bg.fixed-header {
      position: fixed;
      background-color: var(--light-color);
      box-shadow: 0px -4px 34px var(--light-grey-color);
      width: 100%;
      z-index: 999; }
    .header_top_bg .additional-button {
      text-align: right; }
      .header_top_bg .additional-button > a {
        white-space: nowrap; }
    .header_top_bg .fixed-header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100; }
    .header_top_bg.enable_fixed.fixed {
      position: fixed;
      z-index: 1000;
      width: 100%;
      top: 0; }
    .header_top_bg.header_trans-fixed {
      background-color: transparent;
      position: fixed;
      z-index: 1000;
      top: 0;
      width: 100%;
      -webkit-transition: background-color 300ms ease;
      -moz-transition: background-color 300ms ease;
      -ms-transition: background-color 300ms ease;
      -o-transition: background-color 300ms ease;
      transition: background-color 300ms ease; }
      .header_top_bg.header_trans-fixed.bg-color-scroll {
        background-color: var(--light-color);
        box-shadow: 0px -4px 34px var(--light-grey-color); }
        .header_top_bg.header_trans-fixed.bg-color-scroll .mini-cart-wrapper .yoy-shop-icon:before {
          color: var(--grey-color); }
        .header_top_bg.header_trans-fixed.bg-color-scroll .mini-cart-wrapper:hover .yoy-shop-icon:before {
          color: var(--dark-color);
          opacity: 1; }
    .header_top_bg.bg-color-scroll.menu_light_text .main-menu .logo span,
    .header_top_bg.bg-color-scroll .main-menu .logo span {
      color: var(--dark-color); }
    .header_top_bg.bg-color-scroll .main-menu #topmenu > ul > li > a, .header_top_bg.bg-color-scroll.menu_light_text .main-menu #topmenu > ul > li > a {
      color: var(--grey-color); }
    .header_top_bg.bg-color-scroll.menu_light_text .main-menu #topmenu > ul > li > a:hover, .header_top_bg.bg-color-scroll.menu_light_text .main-menu #topmenu > ul > li.current-menu-parent > a, .header_top_bg.bg-color-scroll.menu_light_text .main-menu #topmenu > ul > li.current-menu-item > a, .header_top_bg.bg-color-scroll.menu_light_text .main-menu #topmenu > ul > li.current-menu-ancestor > a,
    .header_top_bg.bg-color-scroll .main-menu #topmenu > ul > li > a:hover,
    .header_top_bg.bg-color-scroll .main-menu #topmenu > ul > li.current-menu-parent > a,
    .header_top_bg.bg-color-scroll .main-menu #topmenu > ul > li.current-menu-item > a,
    .header_top_bg.bg-color-scroll .main-menu #topmenu > ul > li.current-menu-ancestor > a {
      color: var(--dark-color); }
    .header_top_bg.bg-color-scroll .a-btn-1 {
      color: var(--grey-color); }
      .header_top_bg.bg-color-scroll .a-btn-1::before {
        border-color: var(--main-color); }
      .header_top_bg.bg-color-scroll .a-btn-1::after {
        background-color: var(--main-color); }
      .header_top_bg.bg-color-scroll .a-btn-1:hover {
        color: var(--light-color); }
    .header_top_bg.bg-color-scroll .a-btn-7:hover,
    .header_top_bg.bg-color-scroll .a-btn-2:hover,
    .header_top_bg.bg-color-scroll .a-btn-6:hover {
      color: var(--grey-color); }

  header {
    position: relative;
    width: 100%;
    z-index: 999;
    text-align: center; }
    header a.logo {
      text-decoration: none;
      display: block; }
      header a.logo:hover {
        opacity: 1; }
    header .logo span {
      color: var(--dark-color);
      font-size: 26px;
      letter-spacing: 1px;
      font-weight: 500; }

  .menu-socials a {
    margin: 0 11px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--dark-color);
    transition: 0.35s;
    text-decoration: none; }
    .menu-socials a:hover {
      color: var(--main-color); }

  .menu_light_text .menu-socials a {
    color: var(--light-color); }
  .menu_light_text.bg-color-scroll .menu-socials a {
    color: var(--dark-color); }

  #topmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%; }
    #topmenu ul li {
      display: inline-block;
      position: relative; }
      #topmenu ul li a {
        font-size: 15px;
        color: var(--grey-color);
        font-weight: 500;
        text-decoration: none; }
    #topmenu ul ul {
      position: absolute;
      z-index: 999;
      left: 0;
      top: 50px;
      min-width: 250px;
      box-sizing: border-box; }
      #topmenu ul ul li {
        display: block; }
      #topmenu ul ul li a {
        padding: 3px 30px;
        display: block;
        width: 100%;
        position: relative;
        -webkit-font-smoothing: antialiased; }

  .mob-nav {
    display: none;
    margin: 0 auto 12px;
    font-size: 14px;
    color: var(--dark-color);
    opacity: 1; }
    .mob-nav:hover {
      opacity: 0.7; }

  .mob-nav-close {
    display: none; }

  header.classic {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 85px;
    justify-content: space-between; }
    header.classic.enable-social {
      grid-template-columns: 4fr auto 3fr 1fr; }
      header.classic.enable-social .menu-socials {
        text-align: right; }
        header.classic.enable-social .menu-socials a {
          margin: 0 0 0 22px; }
      header.classic.enable-social.enable-button {
        grid-template-columns: 1fr 1fr auto 1fr; }
        header.classic.enable-social.enable-button .menu-socials {
          text-align: center; }
          header.classic.enable-social.enable-button .menu-socials a {
            margin: 0 11px; }
    header.classic.right-menu-text {
      grid-template-columns: 1fr 4fr 1fr; }
      header.classic.right-menu-text.enable-social.enable-button {
        grid-template-columns: 1fr 3fr 1fr 1fr; }
      header.classic.right-menu-text #topmenu {
        text-align: right; }
    header.classic .mob-version {
      display: none; }
    header.classic .logo-wrap {
      text-align: left; }
      header.classic .logo-wrap img{
        width: 110px; }
    header.classic #topmenu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center; }
      header.classic #topmenu .menu > li {
        padding: 35px 0; }
      header.classic #topmenu ul li a {
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 0 14px;
        -webkit-transition: all 350ms ease;
        -moz-transition: all 350ms ease;
        -ms-transition: all 350ms ease;
        -o-transition: all 350ms ease;
        -webkit-font-smoothing: antialiased;
        transition: all 350ms ease; }
      header.classic #topmenu ul li a:hover, header.classic #topmenu ul li.current-menu-parent > a, header.classic #topmenu ul li.current-menu-item > a, header.classic #topmenu ul li.current-menu-ancestor > a {
        color: var(--dark-color); }
      header.classic #topmenu .sub-menu {
        top: 75px;
        left: -35px;
        min-width: 270px;
        padding: 20px 0;
        background-color: var(--light-color);
        -webkit-box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
        box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .5s ease, visibility .5s ease;
        -o-transition: opacity .5s ease, visibility .5s ease;
        transition: opacity .5s ease, visibility .5s ease;
        display: block; }
        header.classic #topmenu .sub-menu .sub-menu {
          top: 0;
          left: -100%;
          padding: 20px 0; }
        header.classic #topmenu .sub-menu li {
          padding: 8px 35px;
          text-align: left;
          margin-left: 0; }
          header.classic #topmenu .sub-menu li a {
            width: auto;
            display: inline-block;
            padding: 0;
            font-weight: 500;
            text-align: left; }
      header.classic #topmenu .menu li:hover > ul {
        opacity: 1;
        visibility: visible; }

  header .logo img.logo-mobile {
    display: none !important; }
  header .logo img.logo-hover {
    display: none; }

  .menu_light_text.header_top_bg .main-menu .logo span {
    color: var(--light-color); }
  .menu_light_text.header_top_bg .main-menu #topmenu > ul > li > a {
    color: var(--light-color);
    opacity: 0.46; }
  .menu_light_text.header_top_bg .main-menu #topmenu > ul > li > a:hover, .menu_light_text.header_top_bg .main-menu #topmenu > ul > li.current-menu-parent > a, .menu_light_text.header_top_bg .main-menu #topmenu > ul > li.current-menu-item > a, .menu_light_text.header_top_bg .main-menu #topmenu > ul > li.current-menu-ancestor > a {
    opacity: 1; }

  .header_top_bg.animated-menu .topmenu .menu > li {
    opacity: 0;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-duration: 1s;
    transition-property: opacity, transform;
    transform: translateY(-100px) scale(0.6); }
  .header_top_bg.animated-menu.animated .topmenu .menu > li {
    opacity: 1;
    transform: none; }

  .header_trans-fixed .yoy_mini_cart .cart_list .mini_cart_item .remove_from_cart_button {
    color: var(--dark-color); }
  .header_trans-fixed.menu_light_text.bg-fixed-color .yoy-shop-icon .cart-contents-count {
    color: var(--dark-color); }
  .header_trans-fixed.menu_light_text .mini-cart-wrapper .yoy-shop-icon .cart-contents-count {
    color: var(--light-grey-color);
    transition: 0.3s; }
  .header_trans-fixed.menu_light_text .mini-cart-wrapper .yoy-shop-icon:hover .cart-contents-count {
    color: var(--light-color); }
  .header_trans-fixed.menu_light_text .mini-cart-wrapper .yoy-shop-icon:before {
    color: var(--light-color);
    opacity: .46;
    transition: 0.3s; }
  .header_trans-fixed.menu_light_text .mini-cart-wrapper .yoy-shop-icon:hover::before {
    opacity: 1;
    color: var(--light-color); } }
@media only screen and (max-width: 1440px) and (min-width: 1025px) {
  header.classic.right-menu-text {
    grid-template-columns: 1fr auto 1fr; }
    header.classic.right-menu-text #topmenu {
      text-align: center; } }
@media only screen and (max-width: 1199px) and (min-width: 1025px) {
  header.classic #topmenu ul li a {
    padding: 0 10px; } }
.mini-cart-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .mini-cart-wrapper + a {
    margin-left: 30px; }
  .mini-cart-wrapper.mob-version {
    display: none; }
  .mini-cart-wrapper:hover .yoy_mini_cart {
    opacity: 1;
    visibility: visible; }
  .mini-cart-wrapper .yoy-shop-icon:hover::before {
    color: var(--grey-color); }
  .mini-cart-wrapper .yoy-shop-icon::before {
    position: relative;
    display: inline-block;
    line-height: 1;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    transition: all 350ms ease;
    color: var(--dark-color);
    font-size: 24px; }
  .mini-cart-wrapper .yoy-shop-icon .cart-contents-count {
    font-size: 12px;
    font-weight: 600;
    color: var(--dark-color); }
  .mini-cart-wrapper .yoy-shop-icon .cart-contents {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    -webkit-box-align: center;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    right: -15px;
    width: 20px;
    height: 20px; }
  .mini-cart-wrapper .yoy_mini_cart {
    position: absolute;
    right: -20px;
    top: 50px;
    display: block;
    background-color: var(--light-color);
    opacity: 0;
    visibility: hidden;
    min-width: 360px;
    padding: 23px 30px;
    text-align: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    box-shadow: 3px 1px 20px 0 rgba(0, 0, 0, 0.07); }
    .mini-cart-wrapper .yoy_mini_cart .yoy-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .mini-cart-wrapper .yoy_mini_cart .yoy-buttons a {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: var(--main-color);
        font-size: 15px;
        font-weight: 500;
        line-height: 2;
        text-transform: uppercase;
        text-decoration: none; }
        .mini-cart-wrapper .yoy_mini_cart .yoy-buttons a:hover i {
          margin-left: 10px; }
        .mini-cart-wrapper .yoy_mini_cart .yoy-buttons a i {
          margin-left: 7px;
          color: var(--main-color);
          font-size: 10px;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          transition: all .3s ease; }
    .mini-cart-wrapper .yoy_mini_cart .product_list_widget {
      margin-left: 0;
      display: block; }
      .mini-cart-wrapper .yoy_mini_cart .product_list_widget .empty {
        line-height: 28px;
        font-weight: 400;
        color: var(--grey-color);
        list-style: none;
        text-align: left;
        font-size: 15px; }
      .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 0 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid var(--soft-grey-color); }
        .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item:last-of-type:not(.empty) {
          margin-bottom: 20px; }
        .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item .mini_cart_item_thumbnail {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          width: 40%;
          max-width: 55px; }
          .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item .mini_cart_item_thumbnail a {
            padding: 0;
            display: block; }
          .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item .mini_cart_item_thumbnail img {
            float: none;
            max-width: 55px;
            width: 100%;
            margin-left: 0; }
        .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item .mini-cart-data {
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          width: 60%;
          padding-left: 20px; }
          .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item .mini-cart-data .mini_cart_item_name {
            font-size: 15px;
            line-height: 1.4;
            font-weight: 500;
            color: var(--dark-color);
            text-align: left;
            text-decoration: none;
            padding: 0; }
          .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item .mini-cart-data .mini_cart_item_quantity {
            font-size: 12px;
            line-height: 20px;
            font-weight: 400;
            color: var(--grey-color);
            margin-bottom: 1px; }
          .mini-cart-wrapper .yoy_mini_cart .product_list_widget .mini_cart_item .mini-cart-data .mini_cart_item_price {
            color: var(--main-color); }
    .mini-cart-wrapper .yoy_mini_cart a.button {
      margin-bottom: 0;
      margin-top: 18px;
      line-height: 1;
      position: relative;
      display: inline-block;
      font-weight: 500;
      box-sizing: border-box;
      padding: 17px 33px !important;
      font-size: 15px;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      background-color: var(--main-color);
      color: var(--light-color);
      border-radius: 25px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease; }
      .mini-cart-wrapper .yoy_mini_cart a.button:hover {
        background-color: transparent;
        color: var(--light-color);
        background-image: none;
        border-color: var(--light-grey-color); }
        .mini-cart-wrapper .yoy_mini_cart a.button:hover::after {
          right: 20px; }
  .mini-cart-wrapper .cart_list .mini_cart_item .remove_from_cart_button {
    padding: 0;
    color: var(--main-color);
    font-size: 30px;
    text-decoration: none;
    font-weight: 400;
    line-height: .65;
    transition: 0.3s; }
    .mini-cart-wrapper .cart_list .mini_cart_item .remove_from_cart_button:hover {
      color: var(--light-grey-color); }
  .mini-cart-wrapper .woocommerce-mini-cart__total {
    margin: 0;
    text-transform: none;
    font-size: 15px;
    color: var(--grey-color); }
    .mini-cart-wrapper .woocommerce-mini-cart__total span {
      margin-left: 10px;
      color: var(--main-color);
      font-size: 18px;
      font-weight: 500; }

/*# sourceMappingURL=menu-classic.css.map */
